<!-- About -->
<section class="page-section" id="{{ site.data.sitetext[site.locale].about.section | default: "about" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].about.title | default: "About Us" }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].about.text | default: "" }}</h3>
      </div>
    </div>
    <div class="contents", align = left >
   <h4> General research on New York Times </h4>
   <p align="left" style="font-family:verdana">We take the same method in the general analysis to data in NewYork Times, with the purpose to compare the difference between them. There shows the topic trend and sentiment conditions for the newyork times quotes.</p>
</div>
<div class="contents", align = center >
<h4 align = left> 2.1 topics and speakers analysis</h4>
<p> </p>
<iframe align="center" src=".\assets\img\interact\topics_over_time_NYT.html" title="topics_over_time_NYT.html" height="450" width="1250" ></iframe>
<p> </p>
<p> </p>
<p align="left" style="font-family:verdana">The place for analysis </p>
<p> </p>
<p> </p>
<iframe align="center" src=".\assets\img\interact\Intertropic_distance_NYT.html" title="Intertropic_distance_NYT.html" height="650" width="650" ></iframe>
<p> </p>
<p> </p>
<p align="left"></p>
</div>
<div class="contents", align = left >
<h4> 2.2 Sentiment elements analysis</h4>
<p align="left" style="font-family:verdana" >Times 2019. </p>
<img align="center" src=".\assets\img\firstpart\new_pos.png" alt="some_text" width="500" height="400">
<img align="center" src=".\assets\img\firstpart\new_neg.png" alt="some_text" width="500" height="400">
<p> </p>
<p> </p>
<p> </p>
<p align="left"></p>
<p> </p>
<p> </p>
<p> </p>
<div class="contents", align = center >
  <img align="center" src=".\assets\img\firstpart\new_senti.png" alt="some_text" width="500" height="400">
<p align="left" style="font-family:verdana">The place for analysis </p>
  </div>
</section>
<!-- End About -->
