<!-- Portfolio Grid -->
<section class="bg-light page-section" id="{{ site.data.sitetext[site.locale].portfolio.section | default: "portfolio" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].portfolio.title | markdownify | default: "Portfolio" }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].portfolio.text | markdownify }}</h3>
        <div class="contents" >
       <h4  align = left> General exploration for all vendors </h4>
       <p> </p>
       <p align="left" style="font-family:verdana" >We begin by examining the data to determine the relationship between the topic and other characteristics such as vendors and speakers. For the former, we'd like to have the topics discussed with the vendors who primarily deliver them. Additionally, the same conditions apply to the speakers and themes; in this approach, we may observe which topics are preferred by certain individuals. This manner, we can get a sense of the vendors' and users' preferred topics. After examining the themes and sentiments covered by the NewYork Times, we may utilize this data to determine whether the NewYork Times has a bias.  </p>
       <p> </p>
       <h4  align = left> 1.1 Exploration for connection </h4>
       <p> </p>
       <p> </p>
       <p align="left" style="font-family:verdana" >In this section, we try to visualize how different topics of New York Times are connected to different vendors and speakers. We notice that in the given dataset, we have the urls of the quotes. The URLs look something like this: https://www.nytimes.com/2019/04/17/realestate/house-hunting-in-hong-kong.html?partner=rss&emc=rss . It is easy to see that the URLs of NYTimes follows a set pattern from which we can extract topics like real estate in this case. To understand how we do this further, please refer to the uploaded code.  </p>
      <p align="left" style="font-family:verdana" >The following graph indicates which news outlets quote similar to different NYT topics. The green circles represent the topics and blue circles represent the websites.  </p>
       <p> </p>
       <p> </p>
       <h5 align="center"> Vendor-topic exploration </h5>
       <p> </p>
       <p> </p>
       <img align="center" src=".\assets\img\firstpart\Graph_News_Outlets2.png" alt="some_text" width="1024" height="800">
       <p> </p>
       <p> </p>
       <p align="left" style="font-family:verdana" >The following is a similar graph of speakers with topics.</p>
       <p> </p>
       <p> </p>
       <h5 align="center"> Speaker-topic exploration </h5>
       <p> </p>
       <p> </p>
     <img align="center" src=".\assets\img\firstpart\Graph_Speakers2.png" alt="some_text" width="1024" height="800">
       <p> </p>
       <p> </p>
       <!-- <p align="left" style="font-family:'Courier New'">The place for analysis </p> -->
       <p> </p>
       <p> </p>
    </div>
    <div class="contents" >
   <h4 align = left> 1.2  The trend of topics and sentiments </h4>
      <iframe src=".\assets\img\interact\topics_over_time_2017.html" title="topics_over_time_2017" height="450" width="1250" ></iframe>
      <p> </p>
      <p> </p>
      <p align="left" style="font-family:verdana" >The picture below is an example for the topics trend overtime in 2017. The topics is extracted by BERT in natural language processing . First, we could find the top 10 topics in 2017 concerned by people. Among them the topic related to the student-teacher-school is most attracted, followed by the topics of films and movies. The music is the third largest topic in 2017. </p>
      <p align="left" style="font-family:verdana" >We observe the trends related to the major events of the year. While there are some omnipresent values such as movies, sports, education, we noticed that during the election years and in the aftermath, politics became more popular(eg. Trump,white house etc.). Similarly, for 2020 there were many more articles related to health, covid disease etc. We also see that the number of articles with positive/negative sentiment are not too different, which shows that the overall sentiment is somewhat neutral. </p>
      <p align="left" style="font-family:verdana" >The following is an interactive map for us to find the topics and it's popularity. </p>
      <p> </p>
      <p> </p>
      <iframe src=".\assets\img\interact\Intertropic_distance_2017.html" title="Intertropic_distance_2017" height="650" width="650" ></iframe>
      <p> </p>
      <p> </p>
      <h4 align = left> The sentiments analysis</h4>
      <p align="left" style="font-family:verdana" >We visualize the words related to the sentiment, and divide them into four groups. The positive, negative, netrual and compound sentiment words. The following picture show the positive and negative words we extract from 2017. </p>
      <img align="center" src=".\assets\img\firstpart\posi1.png" alt="some_text" width="500" height="400">
      <img align="center" src=".\assets\img\firstpart\nega1.png" alt="some_text" width="500" height="400">
      <p> </p>
      <p> </p>
      <p> </p>
      <p> </p>
      <p align="left" style="font-family:verdana" >Afterwards, we use Flair Sentiment Analyzer to compare the count words related to this two sentiments. We could see that the positive sentiment is higher than the negative sentiments. </p>
      <p> </p>
      <p> </p>
      <img align="center" src=".\assets\img\firstpart\sentiword.png" alt="some_text" width="400" height="300">
</div>
<div class="contents" >
<h4 align = left> 1.3  The trend of topics with speaker </h4>
  <p> </p>
  <p> </p>
  <p align="left" style="font-family:verdana" >The following picture shows the most frequent topics and the example of distribution on speakers' profession in these topics. </p>
  <p align="left" style="font-family:verdana" >We can remark that the "politician" occupation is over represented in a global scope and in the most frequent topics. But we also observe that the media are not biased to the most famous politicians eg. Trump. We can conclude that most quotes are related to politics and the government. </p>
  <img align="center" src=".\assets\img\firstpart\topic.PNG" alt="some_text" width="500" height="400">
    <img align="center" src=".\assets\img\firstpart\us.PNG" alt="some_text" width="500" height="400">
  <p> </p>
  <p> </p>
</div>
<!-- <div class="contents", align = left >
<h4> 1.3 The relationship between topic and sentiment of quotes </h4>
<p align="left">The place for analysis </p>
</div> -->
      </div>
    </div>
    <!-- <div class="row">
	{% for project in site.portfolio %}
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#p{{ forloop.index }}">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="{{ site.data.style.portfolio-icon | default: "fas fa-plus fa-3x" }}"></i>
            </div>
          </div>
          <img class="img-fluid" src="{{ project.caption.thumbnail }}" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>{{ project.caption.title }}</h4>
          <p class="text-muted">{{ project.caption.subtitle }}</p>
        </div>
      </div>
	{% endfor %}
    </div> -->
  </div>
</section>
{% include modals.html %}
