<!-- timeline -->
  <section class="bg-light page-section" id="{{ site.data.sitetext[site.locale].timeline.section | default: "about" }}">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].timeline.title | markdownify | default: "About" }}</h2>
          <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].timeline.text | default: "timeline"}}</h3>
          <div class="contents", align = left >
         <h4> Preference and Bias analysis for NewYork Times </h4>
      </div>
      <div class="contents", align = center >
     <h4 align = left> 3.1 The topic preference investigation </h4>

     <p align="left" style="font-family:verdana"> The following is a list of Topic preferences for the New York Times as compared to the general dataset. We can clearly see that New York Times is more or less at par with the general consensus on the different topics. </p>
<img align="center" src=".\assets\img\firstpart\compare_topic.PNG" alt="some_text" width="400" height="300">
  </div>
  <div class="contents", align = center >
  <h4 align = left> 3.2 The speaker preference investigation </h4>

  <p align="left" style="font-family:verdana">This is a list of Speaker preferences for the New York Times as compared to the general dataset. We see a similar pattern as with the case of Topic preference that the most popular speakers of NYT are the same as the general consensus.
    <p> </p>
<img align="center" src=".\assets\img\firstpart\compare_speaker.PNG" alt="some_text" width="400" height="300">
  </div>
  <div class="contents", align = center >
  <h4 align = left> 3.3 Sentiment bias analysis </h4>
  <p> </p>
  <p> </p>
    <p align="left" style="font-family:verdana">In our sentiment analysis, we randomly choose 200,000 quotes for New York Times as well as the general dataset. We see that NYT is at par with the general distribution of positive and negative sentiment. Further, it can be seen that both the distributions are unbiased in terms of sentiment.
 </p>
    <p> </p>
    <p> </p>
  <img align="center" src=".\assets\img\firstpart\new.jpg" alt="some_text" width="400" height="300">
  <img align="center" src=".\assets\img\firstpart\old.jpg" alt="some_text" width="400" height="300">
  <p> </p>
  <p> </p>
  <p align="left"> </p>
  </div>
  <div class="contents", align = center >
  <h4 align = left> 3.4 Topic-sentiment bias analysis </h4>
    <img align="center" src=".\assets\img\firstpart\topicwise_overall_positive_vs_negative.png" alt="some_text" width="500" height="400">
  <p align="left" style="font-family:verdana">To further analyse NYT, we extract the topics of NYT articles from their URLs (to keep the topics in the format NYT keeps). We notice that even at the topic level, NYT is fairly unbiased/slightly positive biased across all the different topics. </p>
  </div>
  <div class="contents", align = center >
  <h4 align = left> 3.5 Speaker-wise Analysis of Popularity </h4>
    <p> </p>
    <p> </p>
  <img align="center" src=".\assets\img\firstpart\tushar5.jpg" alt="some_text" width="500" height="400">
  <p> </p>
  <p> </p>
  <p align="left" style="font-family:verdana">Now that we have established that NYT like all the general media outlets is quite unbiased in it’s reporting. We would like to observe whether NYT over-represents the interests of a few individuals. To do this, we perform a small experiment. We define the popularity of a quote by the number of media outlets that have used a particular quote. Hence, if there are 30 URLs with the same quote, we would define the popularity of the quote as 30. </p>
  <p> </p>
  <p align="left" style="font-family:verdana">We would like to observe whether the quotes given by the most influential speakers become a lot more popular than the average. To do this, we plot the average popularity of a quote given by a top 10 speaker for a particular topic to the average popularity of a particular topic. We notice that for topics like Sports and Arts, the average popularity of influential speakers is the same as the overall popularity. But the popularity of the most influential speakers in topics like world affairs, business and opinion is a lot higher. Hence, we notice that while media outlets are unbiased when it comes to sentiments of their reports, they are heavily biased towards a few individual speakers. </p>
  </div>
        </div>
      </div>
    </div>
  </section>
<!-- End timeline -->
