<!-- timeline -->
  <section class="bg-light page-section" id="{{ site.data.sitetext[site.locale].timeline.section | default: "about" }}">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].timeline.title | markdownify | default: "About" }}</h2>
          <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].timeline.text | default: "timeline"}}</h3>
          <div class="contents", align = left >
         <h4> Preference and Bias analysis for NewYork Times </h4>
         <p align="left">The place for analysis </p>
      </div>
      <div class="contents", align = center >
     <h4 align = left> 3.1 The topic preference investigation </h4>
     <img align="center" src=".\assets\img\firstpart\compare_topic.PNG" alt="some_text" width="400" height="300">
     <p align="left">The place for analysis </p>
  </div>
  <div class="contents", align = center >
  <h4 align = left> 3.2 The speaker preference investigation </h4>
  <img align="center" src=".\assets\img\firstpart\compare_speaker.PNG" alt="some_text" width="400" height="300">
  <p align="left">The place for analysis </p>
  </div>
  <div class="contents", align = center >
  <h4 align = left> 3.3 sentiment bias analysis </h4>
  <p> </p>
  <p> </p>
    <p align="left">The left is data from general vendors in 2019, the right is for NewYork Times in 2019 </p>
    <p> </p>
    <p> </p>
  <img align="center" src=".\assets\img\firstpart\1.jpg" alt="some_text" width="400" height="300">
  <img align="center" src=".\assets\img\firstpart\2.png" alt="some_text" width="400" height="300">
  <p> </p>
  <p> </p>
  <p align="left">The place for analysis </p>
  </div>
  <div class="contents", align = center >
  <h4 align = left> 3.4 topic-sentiment bias analysis </h4>
    <img align="center" src=".\assets\img\firstpart\topicwise_overall_positive_vs_negative.png" alt="some_text" width="500" height="400">
  <p align="left">The place for analysis </p>
  </div>
        </div>
      </div>
    </div>
  </section>
<!-- End timeline -->
